.App {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 400px;
    height: 100vh;
    justify-content: start;
    align-items: center;
}

.title {
    color: var(--blue-steel);
    font-weight: 700;
    line-height: 3;
    font-size: larger;
}